<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619390270317-av98ahfmfln7hj6m1q799rd7np572cv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619390270317-av98ahfmfln7hj6m1q799rd7np572cv5</string>
	<key>API_KEY</key>
	<string>AIzaSyDEzWPHTx3bK3gCTX0MN29dyGfgX2IeLMg</string>
	<key>GCM_SENDER_ID</key>
	<string>619390270317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moneyger.moneyger</string>
	<key>PROJECT_ID</key>
	<string>moneyger-daf2f</string>
	<key>STORAGE_BUCKET</key>
	<string>moneyger-daf2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619390270317:ios:9e490f77d6654fbb537864</string>
</dict>
</plist>